<footer>
    <div class="row">
        <a href="#" class="footer__anchor">
            <figure>
                <img src="./assets/white-backlog.png" alt="Backlog Logo">
            </figure>
            <span class="footer__anchor--popper">
                Top
                <i class="fas fa-arrow-up"></i>
            </span>
        </a>
        <div class="footer__social--list">
            <%= link_to "Home", root_path, class:"
            footer__social--link
            link__hover-effect
            link__hover-effect--white",
            target:"_blank"
            %>
        
            <%= link_to "Find Your Game", search_path, class:"
            footer__social--link
            link__hover-effect
            link__hover-effect--white",
            target:"_blank"
            %>
        
            <%= link_to "Sign In / Up", "#", class:"
            btn no-cursor
            footer__social--link
            link__hover-effect
            link__hover-effect--white",
            target:"_blank"
            %>
        
             <%= link_to "Contact", "#", class:"
            btn no-cursor
            footer__social--link
            link__hover-effect
            link__hover-effect--white"
            %>
        </div>
        <p>Copyright ©2022 Chris Hayes</p>
    </div>
</footer>