<div class="landing">
    <div class="landing__container--img"> </div>
    <div class="container__logo--animation">
        <img src="./assets/logo_controller.svg" class="ladinglogo">
        <img src="./assets/logo_background.svg" class="ladinglogo delay--1">
        <img src="./assets/logo_outline.svg" class="ladinglogo delay--2">
    </div>
</div>