<div class="search--show">
       <div class="results">
           <h2>Search Results</h2>
           <div class="card--container">
            <div class="card--game">
                    <img src="./assets/BOTW-card.jpeg" alt="">
                    <h3 class="title">GameTitle</h3>
                    <p class="game--description">Breath of the wild is the open world entry into the zelda series.</p><p>Playable on ||Platforms||.</p>
                    <div class="container--ratings">*****</div>
                    
                </div>
            <div class="card--game">
                <img src="./assets/BOTW-card.jpeg" alt="">
                <h3 class="title">GameTitle</h3>
                <p class="game--description">Breath of the wild is the open world entry into the zelda series. </p><p>Playable on ||Platforms||.</platforms></p>
                <div class="container--ratings">*****</div>
                
            </div><div class="card--game">
                <img src="./assets/BOTW-card.jpeg" alt="">
                <h3 class="title">GameTitle</h3>
                <p class="game--description">Breath of the wild is the open world entry into the zelda series.</p><p>Playable on ||Platforms||.</p>
                <div class="container--ratings">*****</div>
                
            </div><div class="card--game">
                    <img src="./assets/BOTW-card.jpeg" alt="">
                    <h3 class="title">GameTitle</h3>
                    <p class="game--description">Breath of the wild is the open world entry into the zelda series.</p><p>Playable on ||Platforms||.</p>
                    <div class="container--ratings">*****</div>
                    
                </div>
            <div class="card--game">
                    <img src="./assets/BOTW-card.jpeg" alt="">
                    <h3 class="title">GameTitle</h3>
                    <p class="game--description">Breath of the wild is the open world entry into the zelda series.</p><p>Playable on ||Platforms||.</p>
                    <div class="container--ratings">*****</div>
                    
                </div>
            <div class="card--game">
                <img src="./assets/BOTW-card.jpeg" alt="">
                <h3 class="title">GameTitle</h3>
                <p class="game--description">Breath of the wild is the open world entry into the zelda series. </p><p>Playable on ||Platforms||.</platforms></p>
                <div class="container--ratings">*****</div>
                
            </div><div class="card--game">
                <img src="./assets/BOTW-card.jpeg" alt="">
                <h3 class="title">GameTitle</h3>
                <p class="game--description">Breath of the wild is the open world entry into the zelda series.</p><p>Playable on ||Platforms||.</p>
                <div class="container--ratings">*****</div>
                
            </div><div class="card--game">
                    <img src="./assets/BOTW-card.jpeg" alt="">
                    <h3 class="title">GameTitle</h3>
                    <p class="game--description">Breath of the wild is the open world entry into the zelda series.</p><p>Playable on ||Platforms||.</p>
                    <div class="container--ratings">*****</div>
                    
                </div>
            </div>
       </div>
    </div>